<style>
    @media print {
    div.centerOnPrintedPage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
}

</style>
<div class="centerOnPrintedPage">
    <div style="border: 1px solid #ccc">
        <h3>This page intentionally left blank.</h3>
    </div>
</div>
